numpy
pandas
scikit-learn
imbalanced-learn
scipy
joblib
sqlalchemy  
psycopg2-binary  
python-dotenv
notebook
ipykernel
matplotlib>=3.7
seaborn>=0.12
fastapi
uvicorn[standard]>=0.24
pydantic>=2.4
python-multipart>=0.0.6
altair<5
standard-imghdr
streamlit>=1.31.0
standard-imghdr

